<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form action="" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="signinName">用户名</label>
                            <input type="text" id="signinName" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label for="signinPassword">密码</label>
                            <input type="text" id="signinPassword" class="form-control" name="password">
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label for="signinPassword">邮箱</label>-->
                            <!--<input type="email" id="signinPassword" class="form-control" name="email">-->
                        <!--</div>-->
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="submit">注册</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>